.main-posts{
        width: 100%;
    }
    .activity-posts {
        border-radius: 5px;
        float: left;
        width: 100%;
        margin-bottom: 30px;
        color: rgba(0, 0, 0, 0.87);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: #fff;
    }
    .activity-group1 {
        width: 100%;
        padding: 20px 20px 15px;
        float: left;
    }
    .activity-descp {
        margin-top: 3px;
        padding: 0 17px 20px;
        overflow-wrap: break-word;
    }
    .main-user-dts1 {
        display: flex;
        float: left;
    }
    .main-user-dts1 img {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        margin-right: 10px;
    }
    .like-comment-view {
        display: none;
    }
    .main-photo > a> img {
        width: 60%;
    }
    @media only screen and (max-width: 800px) {
        .main-photo > a> img {
            width: 100%;
        }
        video{
            width: 100%;
        }
      }
    .left-comments {
        float: left;
    }
    .user-text3 > h4 {
        font-size: 20px;
    }
    .user-text3 > span {
        font-size: 15px;
    }
    .user-text3 {
        line-height: 5px;
    }
    video{
        display: none;
    }